##  Домашнее задание №1

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
df['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [3]:
df['gender'].value_counts()[0]/df['gender'].value_counts()[1]

1.0192087155963303

В данном датафрейме количество мужчин на 1.9% превышает количество женщин

##### 2. Какое количество уникальных значений у поля InternetService?

In [4]:
df['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [5]:
len(df['InternetService'].unique())

3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [6]:
df['TotalCharges'].describe()

count     7043
unique    6531
top
freq        11
Name: TotalCharges, dtype: object

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

In [7]:
type(df['TotalCharges'][0])

str

Тип данных - object, тип элемента - str

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [8]:
df['PhoneService'].value_counts()

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [9]:
df.loc[df['PhoneService'] == 'Yes', 'PhoneService'] = 1
df.loc[df['PhoneService'] == 'No', 'PhoneService'] = 0

In [10]:
df['PhoneService'].value_counts()

1    6361
0     682
Name: PhoneService, dtype: int64

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [11]:
df['TotalCharges'].value_counts()

           11
20.2       11
19.75       9
19.9        8
19.65       8
           ..
4214.25     1
973.55      1
641.35      1
6130.85     1
1331.05     1
Name: TotalCharges, Length: 6531, dtype: int64

In [12]:
df['TotalCharges'] = df['TotalCharges'].replace(' ',np.nan, regex=True)

In [13]:
df['TotalCharges'] = df['TotalCharges'].replace('',np.nan, regex=True)

In [14]:
df['TotalCharges'] = df['TotalCharges'].astype(np.float32)

In [15]:
df['TotalCharges'] = df['TotalCharges'].fillna(0)

In [16]:
df['TotalCharges'].value_counts()

20.200001      11
0.000000       11
19.750000       9
19.900000       8
20.049999       8
               ..
1451.599976     1
1173.349976     1
5589.450195     1
3810.550049     1
1024.000000     1
Name: TotalCharges, Length: 6531, dtype: int64

In [17]:
type(df['TotalCharges'][0])

numpy.float32

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [18]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [19]:
df.loc[df['Churn'] == 'Yes', 'Churn'] = 1
df.loc[df['Churn'] == 'No', 'Churn'] = 0

In [20]:
df['Churn'].value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [21]:
df[['StreamingMovies', 'StreamingTV', 'TechSupport']].head()

  StreamingMovies StreamingTV TechSupport
0              No          No          No
1              No          No          No
2              No          No          No
3              No          No         Yes
4              No          No          No

In [22]:
df[["StreamingMovies", "StreamingTV", "TechSupport"]]= df[["StreamingMovies", "StreamingTV", "TechSupport"]].replace({'No': 0, 'Yes': 1, 'No internet service': 0})

In [23]:
df[["StreamingMovies", "StreamingTV", "TechSupport"]].head()

   StreamingMovies  StreamingTV  TechSupport
0                0            0            0
1                0            0            0
2                0            0            0
3                0            0            1
4                0            0            0

##### 8. Заполните пропуски в поле PhoneService значением 0

In [24]:
df['PhoneService'].value_counts()

1    6361
0     682
Name: PhoneService, dtype: int64

In [25]:
df['PhoneService'] = df['PhoneService'].fillna(0)

In [26]:
df['PhoneService'].value_counts()

1    6361
0     682
Name: PhoneService, dtype: int64

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [27]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь
df = df[columns]
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.850000,0,0,0,0
1,Male,34,1,1889.500000,0,0,0,0
2,Male,2,1,108.150002,0,0,0,1

Проверим датафрейм на пустые значения:

In [28]:
df.isnull().sum(axis=0)

gender             0
tenure             0
PhoneService       0
TotalCharges       0
StreamingMovies    0
StreamingTV        0
TechSupport        0
Churn              0
dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           7043 non-null   object
 1   tenure           7043 non-null   int64
 2   PhoneService     7043 non-null   int64
 3   TotalCharges     7043 non-null   float32
 4   StreamingMovies  7043 non-null   int64
 5   StreamingTV      7043 non-null   int64
 6   TechSupport      7043 non-null   int64
 7   Churn            7043 non-null   object
dtypes: float32(1), int64(5), object(2)
memory usage: 412.8+ KB

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [30]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь
X = df[features]
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=21)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((4718, 7), (2325, 7), (4718,), (2325,))

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [31]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [32]:
gender.fit_transform(X_train, y_train)

      gender_Female  gender_Male
6790              1            0
4156              0            1
710               0            1
1335              0            1
1661              1            0
...             ...          ...
6512              0            1
48                0            1
772               1            0
5944              0            1
5327              1            0

[4718 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

Идея StandardScaler заключается в том, что он преобразует ваши данные таким образом, что его распределение будет иметь среднее значение 0 и стандартное отклонение 1. Учитывая распределение данных, каждое значение в наборе данных будет вычтено из среднего значения выборки, а затем разделено по стандартному отклонению всего набора данных.

Основная идея состоит в том, чтобы нормализовать/стандартизировать (mean = 0 и standard deviation = 1) ваши функции перед применением методов машинного обучения

Обычно набор данных содержит переменные разного масштаба. Например, набор данных может содержать столбец со значениями по шкале 20-70 и другой столбец со значениями по шкале 10000-80000.
Поскольку эти два столбца отличаются по масштабу, они стандартизированы, чтобы иметь общий масштаб при построении модели машинного обучения.

In [33]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])
tenure

Pipeline(steps=[('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [34]:
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])
TotalCharges

Pipeline(steps=[('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())])

Объединение всех "кубиков" очень легко сделать таким образом

In [35]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])
number_features

Pipeline(steps=[('selector',
                 ColumnSelector(key=['PhoneService', 'StreamingMovies',
                                     'StreamingTV', 'TechSupport']))])

In [36]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [37]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

ValueError: Unknown label type: 'unknown'

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [38]:
#Ваш код здесь
predicts_proba = pipeline.predict_proba(X_test)[:,1]
predicts_proba[:10]

AttributeError: 'RandomForestClassifier' object has no attribute 'estimators_'

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [ ]:
from sklearn.metrics import roc_auc_score, log_loss

#Ваш код здесь

### Сохраним наш пайплайн

In [ ]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)